

/** css for form field **/

.input-field label {
     color: #000;
   }
 
  /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }


/** css for form field **/
.col.s4 {
    padding-bottom: 1rem;
}

/** change button configs**/
form.col.s12 {

width: 75%;


}

input#submit_title {
    display: none;
}
.holidays_added{

    padding-top :0.75em;
}

/** Add Memory Page configs**/

.submit_memory{
    text-align: center;
}