{% extends 'index.html' %}


<html>


<body>
    


{% block content %}

  <nav>
    <div class="nav-wrapper">
      <div class="col s12">

      <a href="{{url_for('home')}}" class="breadcrumb">
        
        Home</a>
       <a href="{{url_for('view_holidays')}}" class="breadcrumb">
        
        Holiday Tales</a>
      

        <a href="{{url_for('get_holidays')}}" class="breadcrumb">
        
        Add a Holiday</a>
      </div>
      </div>
    
  </nav>

<div class="container">


    
    <ul class="collapsible">
    <li >
      <div class="collapsible-header"><i class="material-icons">card_travel</i>Add a Holiday</div>
      <div class="collapsible-body">
      
        <div class="row">
        <form action="{{url_for('Add_Holidays')}}"   class="col s12" method="POST">
            
            <div class="row">
            <div class="input-field col s12">
                <input id="Title" name="Title" type="text" class="active">
                <label for="Title">Enter a Title for your  Holiday  (Example: Mountaineering Trip) </label>
                  
            </div>

            
            </div>

            <!-- Need to wire this up-->    
        <div class="row">
        <div class="input-field col s12">
            <input id="Destination" name="Destination" type="text" class="active">
            <label for="Destination">Add a Destination /Country   (Example : Scotland) </label>
        </div>
        </div>

        <div class="row submit_Holiday">
        <button href="{{url_for('Add_Holidays')}}" class="btn waves-effect waves-light" >Submit
            <i class="material-icons right">cloud</i>
        </button>
        </div>

    </form>
    </div>

      
      
      </div>
      
    </li>
    
    
  </ul>

    <div class="row holidays_added">

        <div class="lines"></div>

        
          
            
                {% for holiday in holidays%}
                <ul class="list">
                   
                    <li>
                    
                    
                     <div class="col s3 l4 Holiday_title">{{holiday.Title}} </div>

                       <div class="col s9 l8 buttons">
                       <a href="{{url_for('Add_memories',Holidays_id=holiday._id)}}"class="waves-effect waves-light btn"><i class="material-icons">psychology</i>Add a memory</a>
                    <a href="{{url_for('delete_holiday',Holidays_id=holiday._id)}}" class="waves-effect waves-light btn"><i class="material-icons">delete</i>Delete</a>
                    
                    <!--- View Memories if No Memories render  then no  memories add a memory for this holiday or else view memories :-->


                    <!-- For each Holiday : get Memory id : if Memories  then add View button -->

                    {% if holiday._id in Memories %}

                        <a  href ="{{url_for('view_memories',Holidays_id=holiday._id)}}" class="waves-effect waves-light btn"><i class="material-icons">visibility</i>View Memories</a>
                      
                    {% endif %}

                    </div>

                    </li>
                    
                    
                      
                  
                    

                </ul>

                {% endfor %}

            
          


            
        
   
    </div>



</div>

{% endblock %}

</body>

</html>


 