{% extends 'index.html' %}


<html>


<body>
    


{% block content %}


<div class="container">


    <h4> Add Holidays</h4>


    <div class="row">
    <form class="col s12" method="POST">
        
        <div class="row">
        <div class="input-field col s12">
            <input id="Title" name="Title" type="text" class="active">
            <label for="Title">Add a Holiday</label>
        </div>
        </div>

    </form>
    </div>

    <div class="row">

        <div class="lines"></div>

        
          
            
                {% for holiday in holidays%}
                <ul class="list">
                   
                    <li>
                    
                    
                     <div class="col s8 Holiday_title">{{holiday.Title}} </div>

                       <div class="col s4 buttons">
                    <a class="waves-effect waves-light btn">Delete</a>
                    <a class="waves-effect waves-light btn">Edit</a>

                    </div>

                    </li>
                    
                    
                      
                  
                    

                </ul>

                {% endfor %}

            
          


            
        
   
    </div>



</div>

{% endblock %}

</body>

</html>


 