{% extends 'index.html' %}


<html>


<body>
    
<h4>Notes</h4>


{% block content %}

<h4> Add Holidays</h4>


<div class="row">
    <form class="col s12" method="POST">
      
      <div class="row">
        <div class="input-field col s12">
          <input id="Title" name="Title" type="text" class="active">
          <label for="Title">Add a Holiday</label>
        </div>
      </div>

    </form>
  </div>

<div class="lines"></div>

{% for holiday in holidays%}
<ul class="list">
  <li>{{holiday.Title}}</li>
</ul>

{% endfor %}




{% endblock %}

</body>

</html>


 