{% extends 'index.html' %}


<html>


<body>
    


{% block content %}


<div class="container">



    <div class="row">
    
    <h4>Add  a memory for {{Holiday_title}}</h4>
    
    </div>


    
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">psychology</i>Add a Memory</div>
      <div class="collapsible-body">
      
        <div class="row">
        <form   class="col s12" method="POST">
            
            <div class="row">
            <div class="input-field col s12">
                <input id="Title" name="Title" type="text" class="active">
                <label for="Title">Enter a Title for your  Memory (Example: Day1 : Reached Kebnakaise) </label>
                  <input id="submit_title" name="submit_title" type="submit" class="active">
            </div>
            </div>
            <!--Enter  a Date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name="due_date" type="text" class="datepicker">
                <label for="icon_prefix">Enter a Date </label>
            </div>
        </div>


            <!-- Need to wire this up-->    
        <div class="row">
        <div class="input-field col s12">
            <input id="Title" name="Title" type="text" class="active">
            <label for="Title"> <i class="material-icons">location_on</i>Enter a Location   (Example : Aberdeen) </label>
        </div>
        </div>
      
        
          
        <div class="row">
          <div class="input-field col s12">
            <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
            <label for="textarea2"><i class="material-icons">description</i>Enter  a Description for your memory ( Example : Arrived at Hotel late ,getting a early kip) </label>
          </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
            <div class="btn">
            <span>File</span>
            <input type="file" multiple>
            </div>
            <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more images">
            </div>
        </div>
        </div>
    

        <!--Submit button-->
        <div class="row submit_memory">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">cloud</i>
        </button>
        </div>

    </form>
    </div>

      
      
      </div>
      
    </li>
    
    
  </ul>






</div>

{% endblock %}

</body>

</html>
