{% extends 'index.html' %}


<html>


<body>
    


{% block content %}


<div class="container">


<div class="row">


<h3>BUCKet INFo </h3>
<p> Created  {{my_bucket.creation_date}}</p>
<hr>

{% for f in files %}

{{f.key}} <br>
{{f.last_modified}}

{% endfor %}

</div>
  

<form class="upload_images" action="/upload" method="post" enctype="multipart/form-data"><input type="text">

<p>
<input type="file" name="file">
</p>

<button type="submit" name="submit">Upload</button>
</form>


</div>

{% endblock %}

</body>

</html>


 