{% extends 'index.html' %}


<html>


<body>
    


{% block content %}

<nav>
    <div class="nav-wrapper">
      <div class="col s12">

      <a href="{{url_for('home')}}" class="breadcrumb">
        
        Home</a>
        <a href="{{url_for('view_holidays')}}" class="breadcrumb">
        
        Holiday Tales</a>


          <a href="{{url_for('view_memories',Holidays_id=Holiday_id)}}" class="breadcrumb">
        
       Memories for {{Holiday_Title}}</a>        
         <a href="{{url_for('Add_memories',Holidays_id=Holiday_id)}}" class="breadcrumb">
        
       Edit a memory of {{Title}}</a>

      </div>
      </div>
    
  </nav>
<div class="container">


    


     
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">psychology</i>Edit a Memory</div>
      <div class="collapsible-body">
      
        <div class="row">
      
        <form   action="{{url_for('update_memory',memory_id=Memory_id)}}" class="col s12" method="POST" enctype="multipart/form-data">
            
            <div class="row">
            <div class="input-field col s12">
                <input id="Title" name= "Title" type="text" class="active" value="{{ Title }}" >
                <label for="Title">Enter a Title for your  Memory (Example: Day1 : Reached Kebnakaise) </label>
                 
            </div>
            </div>
            <!--Enter  a Date -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="due_date" name= "Date" type="text" class="datepicker" value="{{ Date }}">
                <label for="icon_prefix">Enter a Date </label>
            </div>
        </div>


            <!-- Need to wire this up-->    
        <div class="row">
        <div class="input-field col s12">
            <input id="Location" name= "Location" type="text" class="active" value="{{ Location }}" > 
            <label for="Location"> <i class="material-icons">location_on</i>Enter a Location   (Example : Aberdeen) </label>
        </div>
        </div>
      
        
          
        <div class="row">
          <div class="input-field col s12">
            
            <input id="Description" name="Description" type="text" class="active" value="{{ Description }}">
            <label for="Description"><i class="material-icons">description</i>Enter  a Description for your memory ( Example : Arrived at Hotel late ,getting a early kip) </label>
          </div>
        </div>

        
        <div class="row">
      
        <input type="file" name="File_submission" class="active">
        
        </div>
    

        <!--Submit button-->
        <div class="row submit_memory">
        <button href="{{url_for('update_memory',memory_id=Memory_id)}}" class="btn waves-effect waves-light" >Submit
            <i class="material-icons right">cloud</i>
        </button>
        </div>

    </form>
    </div>

      
      
      </div>
      
    </li>
    
    
  </ul>
  



</div>

{% endblock %}

</body>

</html>

