
{% extends 'index.html' %}

     {% block content %} 


<div class="container memories">

   <div class="fixed-action-btn">
        <a href="{{url_for('Add_memories',Holidays_id=Holidays_id)}}" class="btn-floating pulse btn-large red " >
        
        <i class="large material-icons">add</i>
        </a>
      
        </div>


<div class="row">

<div class="carousel">






  {%  for memory in Memories %}


     

    <div class="carousel-item">
  

      <div class="card">
        <div class="card-image">



          <img src="{{memory['Memory_uploaded']}}">

            <div class="row">
              <div class="fixed-action-btn">
                        <a class="btn-floating btn-medium red">
                            <i class="large material-icons">mode_edit</i>
                        </a>
                        <ul>
                            <li><a href="{{url_for('edit_memories',memory_id=memory['_id'])}}" class="btn-floating green"><i class="material-icons">edit</i></a></li>
                            <li><a href="{{url_for('delete_memories',memory_id=memory['_id'])}}" class="btn-floating  red"><i class="material-icons">delete</i></a>
                                </li>
                           
                        </ul>
                             </div>

            
            </div>
            
           
        
        </div>
             <div class="card-content">
                {{ "Title :" ~ memory['Title']}}
                <br>
                {{"Description : " ~ memory['Description']}}
                <br>
                {{"Date :" ~ memory['Date']}}
                <br>
            </div>
        
     
      </div>
    </div>

{% endfor %}   
  </div>
   


</div>
</div>


<br>
<br>



  <script type="text/javascript">

      $(document).ready(function(){
    $('.carousel').carousel();
       });
  </script>


{% endblock %}
