
{% extends 'index.html' %}

     {% block content %} 


<div class="container memories">

<div class="row">

<div class="carousel">
  {%  for memory in Memories %}

    <div class="carousel-item">
  

      <div class="card">
        <div class="card-image">



          <img src="{{memory['Memory_uploaded']}}">
    

        </div>
             <div class="card-content">
                {{ "Title :" ~ memory['Title']}}
                <br>
                {{"Description : " ~ memory['Description']}}
                <br>
                {{"Date :" ~ memory['Date']}}
                <br>
            </div>
        
     
      </div>
    </div>

{% endfor %}   
  </div>
   


</div>
</div>


<br>
<br>



  <script type="text/javascript">

      $(document).ready(function(){
    $('.carousel').carousel();
       });
  </script>


{% endblock %}
