{% extends 'index.html' %}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
  

  <!-- CSS  -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/materialize.css')}}" type="text/css"/>
 


</head>

<body>



    {% block content %} 
   
     <script type="text/javascript"
         src="{{ url_for('static', filename='js/init.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


  <div class="container">
    <div class="section">

        <div class="fixed-action-btn">
        <a href="{{url_for('get_holidays')}}" class="btn-floating pulse btn-large red " >
        
        <i class="large material-icons">add</i>
        </a>
      
        </div>

    .<div class="row row-flex">

        {% for i in holiday_memories.values() %}
                
                
            
            {%  if i['Holiday_Memories'] | length >0 %}
                    
                        <div class="holiday_img col s6 m4 l3">
                        <a href="{{url_for('view_memories',Holidays_id=i['Holiday_Memories'][0]['Holidays_id'])}}"><span>{{i['Title']}}</span></a>

                        <a href="{{url_for('view_memories',Holidays_id=i['Holiday_Memories'][0]['Holidays_id'])}}">
                        <img src="{{i['Holiday_Memories'][0]['Memory_uploaded']}}" class="responsive-img card materialbox hoverable z-depth-5" >
                        
                        </a>
                        
                        <div class="likes">
                            <a href="{{url_for('Add_Upvote',Holidays_id=i['Holiday_Memories'][0]['Holidays_id'])}}"><span class="upvote"><i class="material-icons">favorite
                            </i> {{i['upvote']}}</a>

                            <span><i class="material-icons">camera_alt
                            </i> {{Image_count_data[i['Holiday_Memories'][0]['Holidays_id']| string()] }}
                            </span>
                        </div>



                        
                        </div>            
                    <!-- Get Memory images length and append it to camera image-->
                    <!-- Get views -->
                    <!-- Add an upvote button-->
                    
                  
                    
            {% endif %}

        {% endfor %}


      </div>


        

  
    </div>
    <br><br>
  </div>


 {% endblock %}
</body>

</html>
