
{% extends 'index.html' %}

     {% block content %} 

<nav>
    <div class="nav-wrapper">
          <ul id="slide-out" class="side-nav">
        <li> <a href="{{url_for('home')}}">
        
        Home</a></li>
         <li><div class="divider"></div></li>
        <li><a href="{{url_for('view_holidays')}}" >
        
        Holiday Tales</a></li>
         <li><div class="divider"></div></li>

        <li>  <a href="{{url_for('view_memories',Holidays_id=Holidays_id)}}" >
        
       Memories for {{hdata}}</a></li>
         
      
  </ul>
 <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>




      <div class="container col s12">
      

      <a href="{{url_for('home')}}" class="breadcrumb">
        
        Home</a>
        <a href="{{url_for('view_holidays')}}" class="breadcrumb">
        
        Holiday Tales</a>
         <a href="{{url_for('view_memories',Holidays_id=Holidays_id)}}" class="breadcrumb">
        
       Memories for {{hdata}}</a>

      </div>
      </div>
    
  </nav>
<div class="container memories">




   <div class="fixed-action-btn">
        <a href="{{url_for('Add_memories',Holidays_id=Holidays_id)}}" class="btn-floating pulse btn-large red " >
        
        <i class="large material-icons">add</i>
        </a>
      
        </div>


<div class="row diary_img">



<div class="carousel">








  {%  for memory in Memories %}


     

    <div class="carousel-item">
  

      <div class="card">
        <div class="card-image">

            <div class="fixed-action-btn">
                        <a class="btn-floating btn-small red">
                            <i class="large material-icons">expand_less</i>
                        </a>
                        <ul>
                            <li><a href="{{url_for('edit_memories',memory_id=memory['_id'])}}" class="btn-floating green"><i class="material-icons">edit</i></a></li>
                            <li><a href="{{url_for('delete_memories',memory_id=memory['_id'])}}" class="btn-floating  red"><i class="material-icons">delete</i></a>
                                </li>
                           
                        </ul>
                             </div>

          <img class="memory_img" src="{{memory['Memory_uploaded']}}">

          
              

     
            
           
        
        </div>
             <div class="card-content">
                {{ "Title :" ~ memory['Title']}}
                <br>
                {{"Description : " ~ memory['Description']}}
                <br>
                {{"Date :" ~ memory['Date']}}
                <br>
            </div>
        
     
      </div>
    </div>

{% endfor %}   
  </div>
   


</div>
</div>


<br>
<br>



  <script type="text/javascript">

      $(document).ready(function(){
    $('.carousel').carousel();
       });
  </script>


{% endblock %}
